#topMenu {
  background-color:#006633;;
  padding: 10px 0;
}

#topMenu .navbar-brand img {
  height: 50px;
  width: auto;
  padding-left: 40px;
}

#topMenu .nav {
  margin-right: 500px;
}

#topMenu .navbar-brand {
  padding-left: 40px;
}

#topMenu .nav-link {
  color: #ffffff;
}

.custom-nav {
  margin-right: 80px;
}

.background-image {
  background: url('http://courses.ics.hawaii.edu/ics314f23/morea/ui-frameworks/murphys-new-background.jpeg') no-repeat center center;
  background-size: contain;
  height: 1000px;
  width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-text {
  margin-top: -20px;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

footer {
  background-color:#006633;
  height: 200px;
  color:white;
}

footer a {
  color: white;
  text-decoration: none; /
}


.grad-background {
  background: url('http://courses.ics.hawaii.edu/ics314f23/morea/ui-frameworks/murphys-new-background.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
